
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5e4485;
    color: #fff;
    font-size: 1.2em;
    border: 0;
    padding: 1% 0; 
   
}
.navbar-brand {
    float: left;
    min-height: 55px; 
    padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, 
    .navbar-inverse .navbar-nav .active a:hover {
        color: #fff;
        background-color: #5E4485;
        cursor: pointer;
}
.navbar-inverse .navbar-nav li a {
    color: #d5d5d5;
}

.navbar {
    background-color: #5e4485;
    color: #fff;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.btn {
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background: #5E4485;
    border: 2px solid #fff;
}
.container {
    margin: 4% auto;
}
#icon {
    max-width: 200px;
    margin: 1% auto;
}
.container h1 {
    text-align: center;
}
.container h3 {
    background-color: blue;
}
@media  (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
    #icon {
        max-width: 150px;
        margin: 1% auto;
    }
}
/* isishayamthetho */
/* .container {
    margin: 4% auto; */
/* } */
.container h3 {
    text-align: center;
}
    
/*********About me section******************/
#about-me{
	margin-top: 100px;
}
h1{
	background-color: blue;
	text-decoration-color: white;
    text-align: center;
}
h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.about-me{
    width: 100%;
    padding: 50px;
    margin-top: 100px;
}
.about-me .left{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.about-me .right{
    width: 100%;
    display: flex;
    align-items: center;
}
.about-me .info{
    width: 70%;
    padding: 0px 30px;
}
.about-img{
    width: 40%;
    height: 40%;
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.about-me .info h2{
    margin: 15px;
    font-size: 30px;
    color: darkmagenta;
}
.about-me .info p{
    font-size: 17px;
    color: blue;
    line-height: 27px;
}
/****************************************committee section*************************************************/
#committee{
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: blanchedalmond;
}
.committee-links{
    margin-top: 18px;
    margin-bottom: 18px;
}
.committee-links ul{
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    column-rule: dotted 1px #fff;
    list-style-type: none;
    
}
.committee-links li{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.committee-links a{
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.committee-links img{
    width: 64px;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    border-radius: 50%;

}
/***********************************************end of committee section***********************************/
/***--------------------------------IFOMU LASE TSHOLOTSHO----------------------------------------------------**/
#form{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	text-decoration-color: darkmagenta;
}
.form{
	margin-top: 40px;
	margin-bottom: 30px;
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url('./images/IMG-20200615-WA0060.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.form {
    width: 100%;
    background-image: cover;
    border: none;
    outline: none;
    border-bottom: 1px solid red;
    color: magenta;
    font-size: 18px;
    margin-bottom: 18px;
    margin-left: 4px;
}
.form input {
    height: 24px;
}
input[type=text] {
    padding-top: 3px;
    padding-bottom: 3px;
}

input[type=submit] {
    background: #ff5722;
    border-color: transparent;
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
    border: none;
    width: 14px;
}
.form input {
    width: 600px;
    padding-top: 12px 5px;
}
@media (max-width: 600px) {
    .form {
            width: 50%;
            background-image: cover;
            border: none;
            outline: none;
            border-bottom: 1px solid red;
            color: magenta;
            font-size: 18px;
            margin-bottom: 18px;
            margin-left: 4px;
        }

}
/* #bg {
    background-color: maroon;
    border: 2px solid whitesmoke;

    padding: 40px;
    position: absolute;
    margin-left: 340px;
    margin-top: 10px;
    height: 1200px;
    width: 780px;
    line-height: 0px;
}

h1 {
    color: lightsalmon;
    text-align: center;
    padding: 0px;
    font-size: 30px;
}

#form {
    background-color: lightsalmon;
    border: 2px solid black;

    padding: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 950px;
    width: 700px;
    line-height: 0px;
}

#table {

    height: 950px;
    width: 700px;
    text-align: justify;
    color: white;
    font-weight: bold;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

th {
    text-align: center;
}

td {
    padding: 2px;
    justify-content: left;


}

tr {


    padding: 30px;
    width: 200px;
    border-collapse: separate;


    text-align: left;

}

#submit_p1 {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    color: lawngreen;


}

#submit_p2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: purple;
}

a {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: slateblue;

}

input,
select {

    color: #5a5854;
    background-color: #f2f2f2;
    padding: 4px 4px 4px 2px;
    border-radius: 10px;


    margin-bottom: 1px;
}

input:focus {
    background-color: #ffffff;
    border: 2px solid #b1e1e4;
    border-spacing: 2px 2px 2px 2px;

}

input#email {
    background-image: url("images/user-logo.png");

    background-repeat: no-repeat;
    background-position: 1px;
    background-size: 35px 35px;
    padding: 4px;


    margin-bottom: 10px;
}

input#twitter {
    background-image: url("");
} */

/**-----------------------------footer----------------------------------------------------------*/

#footer{
    width: 100%;
    height: 50px;
    background: blue;
    text-align: center;
    color: #fff;
}
.wrapper-form {
    padding-top: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
 @media screen and (min-width:360px) {
    #carousel-caption{
        width: 50%;
        margin-bottom: 30px;
    }

    h1 {
        background-color: blue;
        text-decoration-color: white;
        text-align: left;
        line-height: 11px;
        font-size: 12px;
    }

    #about-me{ 
       width: 50%;
     } 
    

    #committee {
        margin-top: 18px;
        margin-bottom: 18px;
        background-color: blanchedalmond;
    }

    .committee-links {
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .committee-links ul {
        -webkit-column-count: 4;
        -moz-column-count: 3;
        column-count: 3;
        column-rule: dotted 1px #fff;
        list-style-type: none;

    }

    .committee-links li {
        text-align: center;
        display: inline-block;
        width: 100%;
        padding-bottom: 5px;
    }

    .committee-links a {
        display: block;
        font-size: 10px;
        text-decoration: none;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
    }

    .committee-links img {
        width: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

    }
    
    

    h1::after {
        content: '';
        background: #007bff;
        display: flexbox;
        height: 3px;
        width: 100px;
        margin: 20px auto 5px;
        line-height: 1.4em; 
    }

    .about-me {
        width: 100%;
        padding: 10px;
        margin-top: 100px;
    }

    .about-me .left {
        width: 100%;
        display: flex;
        align-items: left;
        margin-bottom: 70px;
    }

    .about-me .right {
        width: 100%;
        display: flex;
        align-items: left;
    }

    .about-me .info {
        width: 70%;
        padding: 0px 30px;
    }

    .about-img {
        width: 100%;
        height: auto;
    }

    .about-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .about-me .info h2 {
        margin: 5px;
        font-size: 16px;
        color: darkmagenta;
    }

    .about-me .info p {
        font-size: 10px;
        color: blue;
        line-height: 16px;
        text-transform: capitalize;
    }
} 